<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ siteName }}</title>

  {{ craft.twigpack.includeCssModule("app.css", true) }}
</head>

<body>
  <div id="app">
    
    {% set info = {
      craftVersion: craft.app.getVersion(),
      environment: getenv('ENVIRONMENT')
    } %}
      {% set posts = craft.entries.section('blog').all() %}
    <hello-world :info="{{ info|json_encode }}" :posts="{{ posts|json_encode }}">
    </hello-world>
  </div>

  {{ craft.twigpack.includeSafariNomoduleFix() }}
  {{ craft.twigpack.includeJsModule("app.js", true) }}
  {{ craft.twigpack.includeJsModule("chunk-vendors.js", true) }}
  <div>
  </div>

</body>
</html>
